@use '../../node_modules/@casd/c4s/src/c4s';
@use './tooltip';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.material-icons {
  font-size: inherit;
}

.code, code {
  // stylelint-disable-next-line font-family-no-missing-generic-family-keyword
  font-family: Source Code Pro;
}

.lighter {
  color: #e7e8ea;
}

.light {
  color: #d1d2d4;
}

.grey4 {
  color: #21252b;
}

.grey3 {
  color: #282c34;
}

.grey2 {
  color: #5c6370;
}

.grey1 {
  color: #a6b2bf;
}

.green {
  color: #46bb86;
}

.blue {
  color: #41bdff;
}

.orange {
  color: #f99728;
}

.bg-lighter {
  background-color: #e7e8ea;
}

.bg-light {
  background-color: #d1d2d4;
}

.bg-grey4 {
  background-color: #21252b;
}

.bg-grey3 {
  background-color: #282c34;
}

.bg-grey2 {
  background-color: #5c6370;
}

.bg-grey1 {
  background-color: #a6b2bf;
}

.bg-green {
  background-color: #46bb86;
}

.bg-blue {
  background-color: #41bdff;
}

.bg-orange {
  background-color: #f99728;
}

.bg-white-03 {
  background-color: rgba(255, 255, 255, .03);
}

code.language-css {
  color: #f99728;
}

code.language-css .token.property, .language-css .token.punctuation {
  color: #a6b2bf;
}

code.language-css .token.comment {
  color: #5c6370;
}

code {
  counter-increment: a;
}

code::before {
  content: counter(a);
  user-select: none;
  color: #5c6370;
  font-style: normal;
  width: 4ch;
  display: inline-block;
  overflow: hidden;
  opacity: .5;
}

code.language-css::before {
  width: 7ch;
}

pre.active code.language-css {
  background-color: rgba(255, 255, 255, .05);
}

@media only screen and (min-width: 40em) {
  .terminal-window {
    box-shadow: rgba(0, 0, 0, .08) 16px 16px 0;
  }
}

.outline-0 {
  outline: 0;
}
